
pacote-download/exercicios/aula09/.DS_Store
pacote-download/exercicios/aula10/.DS_Store
pacote-download/exercicios/aula10/aula-pratica/.DS_Store
pacote-download/exercicios/aula10/exercicios-prontos/.DS_Store
pacote-download/exercicios/aula11/.DS_Store
pacote-download/exercicios/aula12/.DS_Store
pacote-download/exercicios/aula13/.DS_Store
*.txt
